
.ipynb_checkpoints/sequentialRecords-checkpoint.ipynb
.ipynb_checkpoints/sequentialRecords-checkpoint.ipynb
.ipynb_checkpoints/sequentialRecords-checkpoint.ipynb
.ipynb_checkpoints/sequentialRecords-checkpoint.ipynb
.ipynb_checkpoints/contagionSeriesByGroups-checkpoint.ipynb
